html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body{
    height: 100vw;
    width: 100vw;
    overflow-x: hidden;
}

body{
    background: #1B1B24;
}

nav{
    position: fixed;
    height: 150px;
    width: 100%;
    background: #121217;    
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav li{
    font-family: arial;
    font-weight: bold;
    font-size: 70px;   

    margin-top: 30px;
    margin-right: 100px;
}

nav a{
    text-decoration: none;
    color: white;
}

.circles-container{
    height: 100%;
    display: flex;
    align-items: center;
}

#C1{
    height: 100%;
    width: 50%;
    border: 40px solid #3630FF;
    border-radius: 50%;
    
}