html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html{
    width: 100vw;
    height: 200vh;
    overflow-x: hidden;
}

body{
    background: #1B1B24; 
}

nav{
    position: fixed;
    height: 150px;
    width: 100%;
    background: #121217;    
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav li{
    font-family: arial;
    font-weight: bold;
    font-size: 70px;   

    margin-top: 30px;
    margin-right: 100px;
}

nav a{
    text-decoration: none;
    color: white;
}

.circles-container{
    height: 100%;
    width: 460px;
    display: flex;
    align-items: center;
    margin-right: 0;
    position: absolute;
}

#C1{
    position: fixed;
    height: 900px;;
    width: 900px;
    left: -540px;
    border: 40px solid #3630FF;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    background: #1B1B24;
}

#C2{
    position: fixed;
    height: 700px;;
    width: 700px;
    border: 35px solid #FFE11B;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#C3{
    position: fixed;
    height: 500px;
    width: 500px;
    border: 30px solid #FF2E2E;
    border-radius: 50%;
}

/* #hidden-circle{
    position: fixed;
    background: #1B1B24;
    width: 460px;
    height: 30%;
    border-radius: 100%;
    left: -200px;
    top: 23px;
} */

.mainpage h1{
    font-size: 200px;
    color: white;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}

.mainpage{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.leeruitkomstenpage{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: flex-end;
    align-items: center;   
}

.leeruitkomstenpage h1{
    font-size: 120px;
    color: white;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}

.about-me-page{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    width: 100%; 
}

.about-me-page h1{
    font-size: 150px;
    color: white;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}

.about-me-text-container p{
    font-size: 20px;
    color: white;
    font-family: Arial; 
    width: 400px;
    position: absolute;
    top: -300px;
    right: 100px;
}

.about-me-text-container{
    width: 100%; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
}

.move-all{
    margin-right:50px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%; 
    background: #121217;
    font-size: 60px;
    color: white;
    font-family: Arial;
    font-weight: bold;
}